In [1]:
#!pip install yahoo_fin
#!pip install requests_html
 
from yahoo_fin.stock_info import get_data
import datetime
import numpy as np
import pandas as pd

df = get_data("TEF", start_date="05/30/2000", index_as_date = True, interval="1d")
mod_df = df.reset_index()
mod_df.rename(columns={"index" : "date", "close" : "5_Yr_Rate"}, inplace=True)

data_df = mod_df
mod_df = []

### Máximo Histórico: Precio de Apertura

In [2]:
df_open_max = data_df[['date','open']]
by_open = df_open_max.groupby('open').max()
open_max = by_open.tail(1)
open_max

                date
open
34.156666 2007-11-06

### Mínimo Histórico: Precio de Apertura

In [3]:
df_open_min = data_df[['date','open']]
by_open = df_open_min.groupby('open').max()
open_min = by_open.head(1)
open_min

           date
open
3.26 2020-10-29

### Máximo Histórico: Precio de Cierre

In [4]:
df_close_max = data_df[['date','adjclose']]
by_close = df_close_max.groupby('adjclose').max()
close_max= by_close.tail(1)
close_max

                date
adjclose
13.545176 2007-12-04

### Mínimo Histórico: Precio de Cierre

In [5]:
df_close_min = data_df[['date','adjclose']]
by_close = df_close_min.groupby('adjclose').max()
close_min= by_close.head (1)
close_min

               date
adjclose
2.393093 2002-09-30

### Máximo Histórico: Volumen

In [6]:
df_volume_max = data_df[['date','volume']]
by_volume = df_volume_max.groupby('volume').max()
volume_max= by_volume.tail(1)
volume_max

               date
volume
21882000 2020-11-18

### Mínimo Histórico: Volumen

In [7]:
df_volume_min = data_df[['date','volume']]
by_volume = df_volume_min.groupby('volume').max()
volume_min= by_volume.head (1)
volume_min

             date
volume
65832  2003-12-26